<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
<link rel="stylesheet" type="text/css" media="all"
	href="helper/style.css" th:href="@{/helper/style.css}" />

<title>Login</title>
	</head>
	
	<body>
		<h1>Catalogazioni di Immagini - login</h1>
	
		<form action="CheckLogin" method="POST">
			Username: <input type="text" name="username" required><br>
			Password:   <input type="password" name="psw" required><br>
         
			<input type="submit" value="login">
			<p th:text=" ${wrongCredentials}"></p>
		</form>
	
	</body>
</html>